<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webpack Emulate</title>
    <script><%= require("raw-loader?esModule=false!babel-loader!lib-flexible") %></script>
</head>
<body>
<div>
    unburned!!
</div>
<div id="root">

</div>
</body>
</html>