<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Webpack Emulate</title>
    <script type="text/javascript"><%= require("raw-loader?esModule=false!babel-loader!lib-flexible") %></script>
</head>
<body>
<div id="root-webpack">

</div>
</body>
</html>